body {
	background: #252525;
	margin: 0;
	color: #777;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
	box-sizing: border-box;
}
#otfeatures {
	padding: 1rem;
}
.feature {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 4px;
}
.button {
	background: #282828;
	height: 30px;
	min-width: 30px;
	border-radius: 999em;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.grid {
	display: grid;
	grid-template-columns: 260px auto 320px;
	grid-template-rows: 60px auto;
	grid-gap: 1px;
	height: 100vh;
}
hr {
	border: none;
	background: #333;
	height: 1px;
}
header,
aside,
footer {
	background: #111;
	z-index: 2;
}

header {
	padding: 0 15px;
	display: flex;
	align-items: center;
	grid-column: 1 / 4;
}
ul li {
	list-style: none;
}
ul {
	padding: 0;
}
.sidebar-left {
	grid-column: 1 / 2;
}
#textbox {
	color: white;
	font-size: 40px;
	font-family: sans-serif;
	border-radius: 2px;
	padding: 2px;
	touch-action: none;
	position: relative;
	max-width: 320px;

	/* This makes things *much* easier */
	box-sizing: border-box;
}

#textbox:focus:after {
	position: absolute;
	bottom: 0;
	right: 0;
	content: "";
	height: 8px;
	border-radius: 999em;
	transform: translate(4px, 4px);
	width: 8px;
	background: #fff;
	box-shadow: 0 0 0 1px #09f;
}
#textbox:focus {
	outline: none;
	box-shadow: 0 0 0 1px #09f;
}
#canvas {
	z-index: 1;
	overflow: hidden;
	grid-column: 2 / 3;
	display: flex;
	align-items: center;
	justify-content: center;
}
.setting-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px 0;
}
.setting-row span {
	margin-right: 8px;
	font-size: 12px;
	color: #fff;
}
.sidebar-right {
	grid-column: 3 / 4;
}
.radio-toolbar {
	display: flex;
}

.radio-toolbar input[type="radio"] {
	opacity: 0;
	position: fixed;
	width: 0;
}
.radio-toolbar label:last-child {
	border-radius: 0 5px 5px 0;
}
.radio-toolbar label:nth-child(2) {
	border-radius: 5px 0 0 5px;
}
.radio-toolbar label {
	display: inline-flex;
	background-color: #222;
	padding: 5px 10px;
	font-family: sans-serif, Arial;
	font-size: 14px;
}

.radio-toolbar label:hover {
	background-color: #555;
}

.radio-toolbar input[type="radio"]:checked + label {
	background-color: #555;
	color: #fff;
}
