body {
	background: #252525;
	margin: 0;
	color: #777;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
	box-sizing: border-box;
}
#otfeatures {
	padding: 1rem;
}
.feature {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 4px;
}
.button {
	background: #282828;
	height: 30px;
	min-width: 30px;
	border-radius: 999em;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.grid {
	display: grid;
	grid-template-columns: 260px auto 320px;
	grid-template-rows: 60px auto;
	grid-gap: 1px;
	height: 100vh;
}
hr {
	border: none;
	background: #333;
	height: 1px;
}
header,
aside,
footer {
	background: #111;
	z-index: 2;
}

header {
	padding: 0 15px;
	display: flex;
	align-items: center;
	grid-column: 1 / 4;
}
ul li {
	list-style: none;
}
ul {
	padding: 0;
}
.sidebar-left {
	grid-column: 1 / 2;
}
.textbox {
	color: white;
	font-size: calc(0.5em + 2vw);
	border-radius: 2px;
	padding: 2px;
	touch-action: none;
	position: relative;
	max-width: 60%;
	margin-bottom: 80px;
	/* This makes things *much* easier */
	box-sizing: border-box;
	font-variation-settings: "wght" var(--text-weight), "wdth" var(--text-width),
		"slnt" var(--text-slant), "CHNK" var(--text-chonk);
}

.textbox:focus:after {
	position: absolute;
	bottom: 0;
	right: 0;
	content: "";
	height: 8px;
	border-radius: 999em;
	transform: translate(4px, 4px);
	width: 8px;
	background: #fff;
	box-shadow: 0 0 0 1px #09f;
}
.textbox:focus {
	outline: none;
	box-shadow: 0 0 0 1px #09f;
}
#canvas {
	z-index: 1;
	overflow: hidden;
	grid-column: 2 / 3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.setting-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px 0;
}
.setting-row span {
	margin-right: 8px;
	font-size: 12px;
	color: #fff;
}
.sidebar-right {
	grid-column: 3 / 4;
}

#fonts li span:hover {
	color: #999;
}
#fonts li span {
	cursor: pointer;
	display: block;
	color: #666;
	padding: 7px 12px;
	overflow: hidden;
	font-size: 12px;
	border-radius: 6px;
}

#fonts li.active span {
	background: #09f;
	color: #fff;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
	position: absolute;
	opacity: 0;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
	position: relative;
	padding-left: 20px;
	cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
	content: "";
	position: absolute;
	left: 0;
	top: calc(50% - 6px);
	width: 12px;
	height: 12px;
	background: #fff;
	border-radius: 3px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
/* checked mark aspect */
[type="checkbox"]:checked + label:before {
	background: #09f;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
	content: "\2713\0020";
	position: absolute;
	top: calc(50% - 4px);
	left: 2px;
	font-size: 9px;
	line-height: 0.8;
	color: #fff;
	transition: all 0.2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
	opacity: 0;
	transform: scale(0);
}
[type="checkbox"]:checked + label:after {
	opacity: 1;
	transform: scale(1);
}

.radio-toolbar {
	display: flex;
}

.radio-toolbar input[type="radio"] {
	opacity: 0;
	position: fixed;
	width: 0;
}
.radio-toolbar label:last-child {
	border-radius: 0 5px 5px 0;
}
.radio-toolbar label:nth-child(2) {
	border-radius: 5px 0 0 5px;
}
.radio-toolbar label {
	display: inline-flex;
	background-color: #222;
	padding: 5px 10px;
	font-family: sans-serif, Arial;
	font-size: 14px;
}

.radio-toolbar label:hover {
	background-color: #555;
}

.radio-toolbar input[type="radio"]:checked + label {
	background-color: #555;
	color: #fff;
}

:root {
	--text-weight: 500;
	--text-width: 1;
	--text-chonk: 400;
	--text-slant: 0;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

.demo-text {
	font-variation-settings: "wght" var(--text-weight), "wdth" var(--text-width),
		"slnt" var(--text-slant), "CHNK" var(--text-chonk);
	margin: 0;
}

.controls {
	margin-top: 1rem;
}

.slider-container:not(:first-child) {
	margin-top: 1rem;
}

.slider-controls {
	display: flex;
	justify-content: space-between;
	margin-top: 1rem;
}

.slider-label {
	font-style: normal;
	font-variation-settings: "slnt" var(--text-slant);
}

.output {
	font-variation-settings: "slnt" var(--text-slant);
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 2px;
	border-radius: 999px;
	background: #444;
	outline: none;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #fff;
	cursor: pointer;
}

.slider::-webkit-slider-thumb:active {
	cursor: -webkit-grabbing;
}
